
*{
    margin: 0%;
    list-style: none;
    font-family: 'font-family: 'Open Sans', sans-serif;';
}
body{
    padding: 0%;
    margin-top: -42px;
}
/* header and navigation styles*/
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    height: 64px;
    background-color: #FD6E0A;
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 16px 32px;

    
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 20px;
    font-size: 24px;
}
/* banner style */
.banner{
    display: flex;
    margin:0px 200px;
    align-items: center;
    margin: 0px 200;
}
.banner-title{
    font-weight: 700;
    font-size: 51px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
}
.banner-description{
    color:#757575;
    margin-bottom: 35px;
}
.btn-contact{
    color: #FFFFFF;
    height: 64px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 16px 32px;
}

.header{
    background: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.banner, img{
    justify-content: space-between;

}
.main{
   
    width: 80%;
    margin: auto;
}
.sec-about{
    margin: auto;
    margin-top: 150px;
    padding: 137px 135px;
    background-color: #FFF8F3;
    border-radius: 5px;
}
.sec-h3{
    text-align: center;
    padding: 6px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    font-style: none;
}
.sec-description{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    padding: 6px;
}
.specif-about{
    display: flex;
    justify-content: center;
    padding: 35px 20px;
    margin-top: 40px;
    
}
.specif-about, ul{
   padding: 1px 41 px;
    
}
.li-head{
    
    font-size: 20px;
    color: #757575;
}
.li-info{
    font-size: 20px;
    font-weight: 700;
    color:#474747;
}
.what-i-do{
    margin-top: 136px;
    text-align: center;
    
}
.what-i-do, h2{
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    

}
.what-description{
    padding: 30px 174;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    
}
.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    height: 300px;
}
.skill-title{
    width: 700;
    font-size: 30px;
    color:#181818;
    margin-top: 30px;
    margin-bottom: 20px;
    

}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    
}
.summery-title{
    margin-top: 40px;
    
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: #181818;
}
.summery-resume{
    display: flex;
    gap: 71px;
    padding: 5px 100px;
    
}
.resume-divide{
    padding: 10px 19px;
    
    margin-top: 43px;

}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;

}
.resume-sub-title{
    margin-top: 30px;
    width: 700;
    font-size: 25px;
    color: #474747  ;

}
.resume-pas{
    margin-top: 10px;
    width: 700;
    font-size: 20px;
    color:  #757575;

}
.resume-descirption{
    margin-top: 20px;
    width: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}
.btncv-primary{
    color: #FFFFFF;
    height: 64px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 16px 32px;
    margin-left: 449px;

}
.contact{
    background: #FFF8F3;
    width: 100%;
    margin-top: 113px;
   
}
.sub-contact{
    padding-top: 130px;
    display: flex;
    gap: 120px;
    width: 67%;
    justify-content: center;
    margin: auto;
   
}
.contact-description{
    margin-top: 20px;
    width: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}
.contact-description, a{
    text-decoration: none;
    padding: 0px 10px;
}
.massage input[type="text"], [type="email"], textarea{
    background-color: #FFFFFf;
    padding: 18px 30px;
    margin-bottom: 24px;
    border-style: none;
    width: 461px;

}